menu "ush"
	config USH_CONSOLE_TIMEOUT_US
		int "console reader timeout in microseconds."
		default 1000
	
	config USH_CONSOLE_BUFFMASK_BITS
		int "console reader storage bits"
		default 8 

	config USH_CONSOLE_LINESIZE
		int "console command line max bytes."
		default 256

	choice 
		prompt "linebreak"
		default USH_LINEBREAK_LF

	config USH_LINEBREAK_LF
		bool "LF"

	config USH_LINEBREAK_CRLF
		bool "CRLF"
		
	endchoice

	config USH_PROMPT
		string "shell prompt"
		default "esp32"

#    config USH_HISTORY_BUFFMASK_BITS
#		int "history mask bits count, 3 means 2 ^ 3 - 1 = 7, default 7."
#        default 7
#	

endmenu
